
<section id="hazard-info">
  <p>Title: <%= @hazard.title %></p>
  <p>Description: <%= @hazard.description %></p>
  <p>Upvotes: <%= @hazard.upvotes %></p>
  <p>Downvotes: <%= @hazard.downvotes %></p>

</section>
