

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h1 class="masthead-brand">Street Smart</h1>
          <nav class="nav nav-masthead justify-content-center">
            <%= button_to 'Login With Google', '/auth/google_oauth2', method: :get, local: true %> <br>
          </nav>
        </div>
      </header>
    </div>
