---
http_interactions:
- request:
    method: get
    uri: http://ipinfo.io/47.28.194.109/geo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ip": "47.28.194.109",
          "hostname": "047-028-194-109.res.spectrum.com",
          "city": "Cheyenne",
          "region": "Wyoming",
          "country": "US",
          "loc": "41.1437,-104.7962",
          "org": "AS33588 Charter Communications",
          "postal": "82001",
          "timezone": "America/Denver",
          "readme": "https://ipinfo.io/missingauth"
        }
  recorded_at: Thu, 11 Nov 2021 20:15:03 GMT
- request:
    method: post
    uri: https://street-smart-be.herokuapp.com/api/v1/hazards
    body:
      encoding: UTF-8
      string: category=animate&description=A+danger+noodle&latitude=41.1437&longitude=-104.7962&title=Snake&user_email=admin%40admin.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"37f897befd81c62011cf28b86864b39d"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"8","type":"hazard","attributes":{"title":"Snake","description":"A
        danger noodle","longitude":-104.7962,"latitude":41.1437,"category":"animate","vote_data":{"upvote":"0","downvote":"0"},"user_email":"admin@admin.com"}}}'
  recorded_at: Thu, 11 Nov 2021 20:15:03 GMT
- request:
    method: get
    uri: https://street-smart-be.herokuapp.com/api/v1/hazards?ip=47.28.194.109
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"10f875f62a87672871fffec6dfb65978"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"1","type":"hazard","attributes":{"title":"Cheyenne,
        Wyoming","descript[...]
- request:
    method: get
    uri: https://street-smart-be.herokuapp.com/api/v1/walkscore?ip=47.28.194.109
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9a7aada66913cee0db08f918f0e6321f"
    body:
      encoding: UTF-8
      string: '{"data":{"id":null,"type":"score","attributes":{"score":67,"description":"Somewhat
        Walkable"}}}'
  recorded_at: Thu, 11 Nov 2021 20:15:17 GMT
recorded_with: VCR 6.0.0
