---
http_interactions:
- request:
    method: get
    uri: http://ipinfo.io/13.71.196.84/geo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ip": "13.71.196.84",
          "city": "Cheyenne",
          "region": "Wyoming",
          "country": "US",
          "loc": "41.2191,-104.6612",
          "org": "AS8075 Microsoft Corporation",
          "postal": "82003",
          "timezone": "America/Denver",
          "readme": "https://ipinfo.io/missingauth"
        }
  recorded_at: Wed, 10 Nov 2021 17:51:34 GMT
recorded_with: VCR 6.0.0
