---
http_interactions:
- request:
    method: get
    uri: http://ipinfo.io/47.28.194.109/geo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ip": "47.28.194.109",
          "hostname": "047-028-194-109.res.spectrum.com",
          "city": "Cheyenne",
          "region": "Wyoming",
          "country": "US",
          "loc": "41.1437,-104.7962",
          "org": "AS33588 Charter Communications",
          "postal": "82001",
          "timezone": "America/Denver",
          "readme": "https://ipinfo.io/missingauth"
        }
  recorded_at: Thu, 11 Nov 2021 20:35:50 GMT
- request:
    method: post
    uri: https://street-smart-be.herokuapp.com/api/v1/hazards
    body:
      encoding: UTF-8
      string: category=animate&description=+&latitude=41.1437&longitude=-104.7962&title=Snake&user_email=admin%40admin.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '404'
  recorded_at: Thu, 11 Nov 2021 20:35:50 GMT
- request:
    method: get
    uri: http://ipinfo.io/47.28.194.109/geo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ip": "47.28.194.109",
          "hostname": "047-028-194-109.res.spectrum.com",
          "city": "Cheyenne",
          "region": "Wyoming",
          "country": "US",
          "loc": "41.1437,-104.7962",
          "org": "AS33588 Charter Communications",
          "postal": "82001",
          "timezone": "America/Denver",
          "readme": "https://ipinfo.io/missingauth"
        }
  recorded_at: Thu, 11 Nov 2021 20:35:50 GMT
recorded_with: VCR 6.0.0
