/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'bootstrap';
 body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1;
 }

 footer {
   display: flex;
   align-self: baseline;
   flex-direction: row;
 }

 .b-example-divider {
   height: 3rem;
   background-color: rgba(0, 0, 0, .1);
   border: solid rgba(0, 0, 0, .15);
   border-width: 1px 0;
   box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
 }

 .bi {
   vertical-align: -.125em;
   fill: currentColor;
 }

 .feature-icon {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   width: 4rem;
   height: 4rem;
   margin-bottom: 1rem;
   font-size: 2rem;
   color: #fff;
   border-radius: .75rem;
 }

 .icon-link {
   display: inline-flex;
   align-items: center;
 }
 .icon-link > .bi {
   margin-top: .125rem;
   margin-left: .125rem;
   transition: transform .25s ease-in-out;
   fill: currentColor;
 }
 .icon-link:hover > .bi {
   transform: translate(.25rem);
 }

 .icon-square {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   width: 3rem;
   height: 3rem;
   font-size: 1.5rem;
   border-radius: .75rem;
 }

 .rounded-4 { border-radius: .5rem; }
 .rounded-5 { border-radius: 1rem; }

 .text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
 .text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
 .text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }

 .card-cover {
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
 }
